---

- name: Added Environment  .bashrc
  lineinfile: dest="~/.bashrc"
              regexp="\.environmentrc"
              line="source {{ _python_path_file_environmentrc }}"
              state=present
  become_user: "{{ ansible_env.USER }}"

- name: Modify .bashrc
  lineinfile: dest="~/.bashrc"
              regexp="\.pyenvrc$"
              line="source {{ python_pyenv_path }}/.pyenvrc"
              state=present
  become_user: "{{python_pyenv_owner}}"
