---

- name: Install Python interpreters "{{ python_pyenv_python_versions }}"
  shell: . {{ python_pyenv_path }}/.pyenvrc && pyenv install {{ item }}
         creates="{{ python_pyenv_path }}/versions/{{ item }}/bin/python"
  with_items: "{{ python_pyenv_python_versions | default([]) }}"
  become: true
  become_user: "{{python_pyenv_owner}}"

- name: Create virtual environments
  shell: . {{ python_pyenv_path }}/.pyenvrc && pyenv virtualenv {{ item.py_version }} {{ item.venv_name }}
         creates="{{ python_pyenv_path }}/versions/{{ item.venv_name }}/bin/python"
  with_items: "{{ python_pyenv_virtualenvs | default({}) }}"
  become: true
  become_user: "{{python_pyenv_owner}}"

- name: Install package requeriments virtualenv
  become: true
  become_user: "{{python_pyenv_owner}}"
  shell: ". {{ _python_path_file_pyenvrunrc }} && pip install -r {{python_pyenv_file_requeriments}}"
  # executable: "/bin/bash"
  when: python_pyenv_file_requeriments is defined
